<div class="card">
    <img class="card-img-top" src="/assets/product-image-dummy.jpeg" alt="Card image cap">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h5 class="card-title">{{item.productName}}</h5>
            </div>
            <div class="col">
                <p class="card-text"><strong>Price</strong> : {{item.productPrice}}$</p>
            </div>
            <div class="col">
                <p class="card-text"><strong>Qty</strong>: {{item.productUnit}} </p>
            </div>
        </div>
        <p class="card-text">{{item.productDescription}}</p>
        <div class="row">
            <div class="col">
                <button class="btn btn-warning" (click)="onAddToCartClickHandler()">Add to cart</button>
            </div>
            <div class="col">
                <button class="ml-4 btn btn-danger" (click)="onDeleteProductHandler()">Delete Product</button>
            </div>
        </div>
    </div>
</div>